<h1><%= @list.name() %></h1>

<% if @list.tasks().any?() %>
  <h3>Here are all the tasks in this list:</h3>

  <ul>
    <% @list.tasks().each() do |task| %>
      <li><%= task.description() %> Due: <%= task.due_date() %></li>
      <button>Delete</button>
    <% end %>
  </ul>

  <% else %>
    <p>There are no tasks on this list!</p>
  <% end %>

<hr>

<div class="container">
  <a href="/">Home</a>
  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
</div>
